<!DOCTYPE html>
<html lang="en, de">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div>
    <div style="max-width:100%;table-layout:fixed;-ms-text-size-adjust:100%;background-color:#ffffff;">
      <div style="max-width:600px;margin:0 auto;">

        <table align="center"
          style="font: bold 20px/26px Inter,sans-serif;color:#344154;margin:0 auto;">
          <tbody>
            <tr>
              <td align="center" style="height: 112px">
                <img src="https://dropship-media.s3.amazonaws.com/email_icons/Logo_text_email.png" alt=""
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <table align="center"
          style="max-width:600px;background:#F7FAFF;font-family:Inter, sans-serif;color:#333333;margin:0;width:100%;height:294px;margin: 0 auto;">
          <tbody>
            <tr>
              <td>
                <table style="font-family:Inter, sans-serif;color:#333333;height:294px;" width="100%">
                  <tbody>
                    <tr>
                      <td style="font-size:1px;line-height:1px;height:58px;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td
                        style="text-align:center;color:#3A4569;font:bold 24px/36px Inter,sans-serif;">
                        Reset Password</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td style="font-size:1px;line-height:1px;height:0px;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td
                        style="padding-top:5px;padding-right:45px;padding-left:45px;width:100%;text-align:left;color:#4b4f54;font:16px Inter,sans-serif;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0"
                          style="font-family:Inter, sans-serif;color:#333333;" width="100%">
                          <tbody>
                            <tr>
                              <td align="center"
                                style="font:normal 400 14px/21px Inter,sans-serif;color:#3A4569;padding-bottom:24px;padding:0;width: 308px">
                                To restore your Dropship account password, use the code below and enter it in the prompt.
                              </td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0;">
                                <div style="background-color:#E6EFFF;margin-top:24px;margin-bottom:20px;width:170px;height:64px;border-radius:12px;line-height: 64px;">
                                  <a
                                    rel="noreferrer noopener"
                                    style="font:normal 700 24px/64px Inter,sans-serif;color:#237CFB;display:inline-block;text-decoration:none;"
                                    target="_blank"
                                  >
                                    {{ code }}
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="height: 300px;display:flex;height:24px;margin: 69px auto;margin-bottom:37px; width:230px">
          <table align="center">
            <tbody>
              <tr>
                <td align="center" style="width: 230px;">
                  <a href="https://facebook.com/dropship"
                     style="padding: 0 15px 0 0; text-decoration: none;"
                     rel="noreferrer noopener"
                     target="_blank">
                    <img src="https://dropship-media.s3.amazonaws.com/email_icons/fb_icon.png" alt=""/>
                  </a>
                  <a href="https://instagram.com/dropship"
                     style="padding: 0 15px; text-decoration: none;"
                     rel="noreferrer noopener"
                     target="_blank">
                    <img src="https://dropship-media.s3.amazonaws.com/email_icons/inst_icon.png" alt=""/>
                  </a>
                  <a href="https://twitter.com/dropship"
                     style="padding: 0 15px; text-decoration: none;"
                     rel="noreferrer noopener"
                     target="_blank">
                    <img src="https://dropship-media.s3.amazonaws.com/email_icons/twitter_icon.png" alt=""/>
                  </a>
                  <a href="https://linkedin.com/company/dropship"
                     style="padding: 0 0 0 15px; text-decoration: none;"
                     rel="noreferrer noopener"
                     target="_blank">
                    <img src="https://dropship-media.s3.amazonaws.com/email_icons/linkedin_icon.png" alt=""/>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div style="text-align:center;display: inherit;margin: 0 auto; width:fit-content;font:400 12px/21px Inter,sans-serif;color: #6E7DAF;
        ">
          <span style="display: block">Copyright © 2021 Dropship. All Rights Reserved</span>
          <span style="display: block">Sydhamnsvägen 55-57, Södertälje 151 38, Stockholms Län</span>
        </div>
      </div>
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td style="font-size:1px;line-height:1px;height:30px;"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
