# TODO: change this to `True` after adding login/token
VAULT_ENABLED=False

VAULT_BASE_URL=https://vault.dataforest.tech
# NOTE: available auth methods: token, userpass, github
VAULT_LOGIN_METHOD=github
VAULT_USERNAME=no_user
VAULT_PASSWORD=no_password
VAULT_STORAGE=project_name
VAULT_ROOT=local/backend
